$border-color-hover: #666;
$border-color: #999;
$border-color-light: lighten($border-color, 30%);
$border-radius: 4px;
$box-shadow-color: rgba(0,0,0,0.5);
$button-bg-active: #eee;
$button-bg: #fff;
$default-height: 32px;
$font-size: 14px;
$red: #f1453d;
$border-color-grey: rgba(0,0,0,0.2);
.box-shadow {
    box-shadow:  0 0 5px rgba(0,0,0,0.2);
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}