$border-color-hover: #666;
$border-color: #999;
$border-radius: 4px;
$box-shadow-color: rgba(0,0,0,0.5);
$button-bg-active: #eee;
$button-bg: #fff;
$default-height: 32px;
$font-size: 14px;
$red: #f1453d;